{% extends "layout.html" %}
 
{% block content %}
<h1>All Customers Listing</h1>
{{key}}
<div><a href="{{base_url}}/customers/add" class="btn btn-info">Add New Customer</a></div>
<div class="bs-example">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Contact Person</th>
                <th>Contact Number</th>
                <th>Email</th>
                <th colspan="2" align="center">Actions</th>
            </tr>
        </thead>
   
    </table>
</div>
{% endblock content %}